/*
colors: ;

gray #232727
black #020104
red(digits) #C3492A
red(writings) #5D181A
green #578529
white #E0C3CA
*/

html {
	/*font-size: 10pt;*/
	font-size: 1em;
}

@media screen and (max-width: 1024px) {
	html {
		font-size: 0.768em;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 0.5em;
	}
}

@media screen and (max-width: 505px) {
	html {
		font-size: 0.3em;
	}
}



@font-face {
    font-family: Digit; /* Имя шрифта */
    src: url(fonts/digital-7-italic.ttf); /* Путь к файлу со шрифтом */
}

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);

h2 {
	display: none;
}

.time {
	/*background-color: #222123;*/
	background-color: #333;
    padding-top: 1rem;
    width: 60rem;
    border-radius: 2px;
    margin: 0 auto;
    border: 3px #555 outset
}

.timer {
	display: flex;
	justify-content: space-around;
    align-items: center;
}

.item {
	text-align: center;
}

.wrapper {
	display: inline-block;
    background-color: ghostwhite;
    border-radius: .2rem;
    padding: 0.5rem;
    border: #444944 3px inset;
}

.month, .day, .year, .hour, .min {
	display: inline-block;
	text-transform: uppercase;
	font-family: Digit;
	font-size: 6rem;
	position: relative;
}

.separator {
    /* text-indent: -60px; */
    display: block;
    /* text-align: right; */
    text-transform: uppercase;
    font-family: Digit;
    font-size: 3rem;
    /*position: relative;*/
}

.am, .pm {
	text-align: center;    
 	/*position: absolute; */
    /*display: list-item;*/
    /* box-sizing: border-box; */
    /* text-indent: 15px; */
}

.month .digit{
	position: relative;
}

.digit {
	display: inline;
	/*text-align: right;*/
	position: absolute;
	right: 0; 
	/*color: red;*/
}

.digit-inside{
	/*content: "8";*/
	/*z-index: -1;*/
	/*position: absolute;
	right: 0;*/
	color: rgba(100,100,100, 0.3);
	text-shadow: none;
}




.writing {
	    display: inline-block;
    /* box-sizing: content-box; */
    background-color: #AD0505;
    color: #FDFDFD;
    text-align: center;
    text-transform: uppercase;
    padding: 0 1.5rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: bolder;
    margin-bottom: .6rem;
    /* letter-spacing: .5rem; */
}

.red {
	border-top-radius: 1px
}

.black {
	background-color: #060407;
    font-size: large;	
    padding-top: 5px;
	text-align: center;
    width: 300px;
    margin: auto;
    margin-top: 1rem;
    display: block;
}

/*colors*/

.debug {
	color: gray;
	
}


.debug .wrapper {
	background-color: rgba( 6, 23, 9, 0.9);
	text-shadow: -1px -1px 2px white;
}


.destination {
	color: #EF5E2F;	
}

.destination .wrapper {
	background-color: rgba( 27, 14, 6, 0.9);
	text-shadow: 1px 1px 2px #5E0200 , -1px -1px 1px  rgb(245, 147, 142) ;
}

.present {
	color: #69E060;
}

.present .wrapper {
	background-color: rgba( 6, 23, 9, 0.9);
	text-shadow: 1px 1px 2px #5DD848, -1px -1px 1px #28701C;
}

.departed {
	color: #E3CC5A;
}

.departed .wrapper {
	background-color: rgba( 21, 5, 3, 0.9);
	text-shadow: 1px 1px 2px #D3B384, -1px -1px 1px #714E14;
}

